<section class="container">
  @if (!selectedRecipe) {
    <div>
      <p>Wybierz przepis z listy, aby zobaczyć szczegóły.</p>
    </div>
  }

  @if (selectedRecipe) {
    <div class="container--selected">
      <h2>id: {{ selectedRecipe.recipeModel.id }}</h2>
      <h2>title: {{ selectedRecipe.recipeModel.title }}</h2>
      <h2>description: {{ selectedRecipe.recipeModel.description }}</h2>
      <h2>difficulty: {{ selectedRecipe.recipeModel.difficulty }}</h2>
      <h2>ingredients: {{ selectedRecipe.recipeModel.ingredients }}</h2>
      <h2>preparation time: {{ selectedRecipe.recipeModel.preparationTime }}</h2>
    </div>
  }
</section>
